#set ($content_id = $reserved-article-id.getData())
#set ($content_class = "multiple-items-" + $content_id + "-carousel")

<style>
	#${content_class} {
		display: block;
		height: 0;
		padding-top: 27%;
		position: relative;
	}

	#${content_class} .aui-carousel, #${content_class} .carousel, #${content_class} .carousel-item, #${content_class} img {
		height: 100%;
		width: 100%;

	}

	#${content_class} .aui-carousel, #${content_class} .carousel, #${content_class} img {
		position: absolute;
		top: 0;
	}

	#${content_class}.hide-controls menu {
		display: none;
	}
</style>

#if ($controls.data == "true")
    #set ($controls_class = "display-controls")
#else
    #set ($controls_class = "hide-controls")
#end

<div id="$content_class" class="$controls_class">
	<div class="carousel">
		#foreach ($item in $image.getSiblings())
			<div class="carousel-item">
				#if ($item.getData())
					#if ($item.link.url-location.data != "")
						<a href="$item.link.url-location.getFriendlyUrl()">
					#end

					<img alt="$item.link.data" src="$item.getData()" title="$item.link.data" />

					#if ($item.link.url-location.data != "")
						</a>
					#end
				#end
			</div>
		#end
	</div>
</div>

<script type="text/javascript">
	AUI().ready(
		'aui-carousel',
		function(A) {
			new A.Carousel(
				{
					activeIndex: 'rand',
					contentBox: '#${content_class} .carousel',
					height: "100%",
					intervalTime: $duration.getData(),
					width: "100%"
				}
			).render();
		}
	);
</script>