#foreach ($each in $title.getSiblings())
	<div class="featured-text">
		#if ($each.data != "")
			<h3>
				$each.data
			</h3>
		#end

		#if ($each.content.data != "")
			<div class="featured-content">
				$each.content.data
			</div>
		#end
	</div>
#end