<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body id="main-content" class="$css_class">

$theme.include($body_top_include)

<a href="#main" class="skip-to-main">#language ("skip-to-content")</a>

#if ($is_signed_in)
	#dockbar()
#end

#if ($is_maximized)
	<div class="body-header">
		#parse("$fullTemplatesPath/navigation.vm")
	</div>
	<div class="body-main" id="main" role="main">
		<div class="stack s2">
			<div class="panel p1">
#end

#if ($selectable)
	$theme.include($content_include)
#else
	$portletDisplay.recycle()

	$portletDisplay.setTitle($the_title)

	$theme.wrapPortlet("portlet.vm", $content_include)
#end

#if ($is_maximized)
			</div>
		</div>
	</div>
#end

<div class="body-footer"></div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>